@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden !important ;
  width: 100vw;
  height: 100vh;
}

#allDeals .active{

  color: #00247D;
  border-bottom: 1px solid #00247D;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Navbar{
  animation: fadeIn 0.5s ease-out ;
}

@keyframes fadeIn {

  from{
    opacity: 0%;
  }
  to{
    opacity: 1;
  }
  
}


/* @media (min-width:480px) and (max-width : 768px) {

  .slick-prev{
    top: 117%;
    left:50%
  }

  .slick-next{
    top:117%;
    right:30%;
  }
  
}

@media (min-width:768px) and (max-width : 1024px) {

  .slick-prev{
    top: 117%;
    left:50%
  }

  .slick-next{
    top:117%;
    right:35%;
  }
  
}

@media (min-width:1024px) and (max-width : 1750px) {

  .slick-prev{
    top: 100%;
    left:-15%;
  }

  .slick-next{
    top:100%;
    left:-8%;
  }
  
}

.slick-prev {
  
}

.slick-next {
  
  
}


.slick-prev::before,.slick-next::before{
   display:none;
    }

.arrows{
height:40px;
width:40px;
padding: 10px;
border: 1px solid blue;
border-radius: 100%;
}

@media screen and (max-width:480px) {
  .arrows{
    display: none;
  }
}

.arrows:hover{
  background-color: blue;
  color: white !important;
  transition-duration:300ms !important ;
  transition: all;

  
}

/* .slick-slide{

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}
.main-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
} */ 