@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@media (min-width:480px) and (max-width : 768px) {

  .slick-prev{
    top: 117%;
    left:50%
  }

  .slick-next{
    top:117%;
    right:30%;
  }
  
}

@media (min-width:768px) and (max-width : 1024px) {

  .slick-prev{
    top: 117%;
    left:50%
  }

  .slick-next{
    top:117%;
    right:35%;
  }
  
}

@media (min-width:1024px) and (max-width : 1750px) {

  .slick-prev{
    top: 100%;
    left:-15%;
  }

  .slick-next{
    top:100%;
    left:-8%;
  }
  
}



.slick-prev::before,.slick-next::before{
   display:none;
    }

.arrows{
height:40px;
width:40px;
padding: 10px;
border: 1px solid blue;
border-radius: 100%;
}

@media screen and (max-width:480px) {
  .arrows{
    display: none;
  }
}

.arrows:hover{
  background-color: blue;
  color: white !important;
  transition-duration:300ms !important ;
  transition: all;

  
}

